body {
  background-image: url(https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/1013658_10151632875326696_700530207_n.jpg?oh=11f17ce708174757e1aadb0a5eb1b823&oe=5AD36130);
  background-repeat: no-repeat;
  background-size: 100%;

}

h1 {
  color: #ffff;
  text-align: center;
  font-size: 56px;
  font-family: "Arial Black", Gadget, sans-serif;


}
